[Unit]
Description=My Application
After=cloud-init.target
Requires=cloud-init.target

[Service]
User=csye6225
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/node /home/admin/webapp/src/app.js
Type=simple
Restart=always

[Install]
WantedBy=cloud-init.target